@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply bg-trueGray-900;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  @font-face {
    font-family: "CalSans";
    font-weight: 400;
    src: url("../assets/fonts/CalSans-SemiBold.woff2");
  }

  @font-face {
    font-family: "Inter";
    font-weight: normal;
    src: url("../assets/fonts/Inter-Regular.ttf");
  }

  @font-face {
    font-family: "Inter";
    font-weight: bold;
    src: url("../assets/fonts/Inter-Bold.ttf");
  }

  @font-face {
    font-family: "Noto Sans";
    font-weight: normal;
    src: url("../assets/fonts/NotoSans-Regular.ttf");
  }

  @font-face {
    font-family: "Noto Sans";
    font-weight: bold;
    src: url("../assets/fonts/NotoSans-Bold.ttf");
  }
}